@charset 'utf-8';

html{
    scroll-behavior: smooth;
    font-family:  Georgia, 'Times New Roman', Times, serif ;
    background-image: url(background1.png);
    background-size: cover;
}

body{
    text-align: center;
    margin: 0px;
}

section.delivery p{
    font-style: italic;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    line-height: 30px;
}

.logo img#logo{
    margin-top: 20px;
    width: 40%;
    border-radius: 50%;
}

.logo h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}


.logo p.aurum{
    margin-top: 40px;
    font-size: 30px;
    font-style: italic;
    color: rgb(224, 142, 41);
    margin-bottom: 0;
    font-weight: bold;
    font-family: Ink Free;
}

.logo h1:hover{
    color: rgb(189, 148, 47);
    transition: 1s;
    font-size: 28px;
}

.logo img#pic{
    border: 10px solid rgb(218, 190, 119);
    width: 80%;
    margin-bottom: 10px;
}

.delivery h2 img{
    width: 10%;
    margin-left: 10px;
}

.delivery h2{
    font-size: 25px;
}

hr{
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.link a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 40px;
    width: 60%;
    height: 20px;
    display: block;
    margin: 40px auto;
    padding: 10px;
    font-size: 15px;
}

.link a:hover{
    background-color: rgb(223, 216, 170);
    color: black;
}

.link a{
    transition: all 0.3s ease-in;
}

#backtotop{
    text-align: right;
}

#backtotop a{
    border: 1px solid black;
    border-radius: 10%;
    width: 50px;
    position: fixed;
    text-align: center;
    bottom: 30px;
    right: 1%;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 10px;
    background-color: white;
}

#backtotop a:hover{
    background-color: rgb(223, 216, 170);
}

.footer{
    background-color: black;
    color: white;
    position: relative;
    bottom: -50px;
    font-size: 10px;
}

@media only screen and (min-width:481px){
    .logo h1{
        font-size: 30px;
    }

    .logo img#logo{
        width: 30%;
        margin-top: 30px;
    }

    .logo p.aurum{
        font-size: 35px;
        margin-top: 40px;
    }

    section.delivery p{
        font-size: 17px;
    }

    .logo img#pic{
        border: 10px solid rgb(218, 190, 119);
        width: 70%;
        margin-bottom: 20px;
    }

    .logo h1:hover{
        color: rgb(189, 148, 47);
        transition: 0.5s;
        font-size: 33px;
    }

    .delivery h2{
        font-size: 25px;
    }

    .delivery h2 img{
        width: 10%;
    }

    hr{
        width: 70%;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .link a{
        width: 50%;
        height: 15px;
        padding: 15px;
        font-size: 20px;
    }

    .footer{
        font-size: 15px;
    }
    
    #backtotop a{
        width: 70px;
        font-size: 15px;
    }

}

@media only screen and (min-width:769px){
    .logo h1{
        font-size:40px;
    }

    .logo img#logo{
        width: 20%;
        margin-top: 50px;
    }

    .logo p.aurum{
        font-size: 45px;
        margin-top: 70px;
    }

    section.delivery p{
        font-size: 20px;
    }

    .logo img#pic{
        border: 10px solid rgb(218, 190, 119);
        width: 50%;
        margin-bottom: 50px;
    }

    .logo h1:hover{
        color: rgb(189, 148, 47);
        transition: 0.5s;
        font-size: 43px;
    }

    .delivery h2{
        font-size: 30px;
    }

    .delivery h2 img{
        width: 5%;
    }

    hr{
        width: 70%;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .link a{
        width: 30%;
        height: 20px;
        padding: 20px;
        font-size: 20px;
    }

    .footer{
        font-size: 20px;
    }
    
    #backtotop a{
        width: 80px;
        font-size: 15px;
    }

}
